<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
  <header>
    <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="About.html">About</a></li>
          <li><a href="pilgrimage.html">Pilgrimage Places</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
  </header>
  
  <main>
    <section class="hero">
      <h1>About Indian Pilgrimage</h1>
      <p>Experience the spiritual and cultural richness of India through our virtual visit to the most popular pilgrimage sites in the country.</p>
    </section>

    <section class="info">
      <h2>Our Mission</h2>
      <p>Our mission is to bring the beauty and sanctity of Indian pilgrimage sites to people around the world. Through our virtual visit, we aim to provide an immersive experience that enables visitors to connect with the spiritual and cultural essence of these places, without having to leave the comfort of their homes.</p>
    </section>

    <section class="info">
      <h2>Our Team</h2>
      <p>We are a team of passionate individuals who believe in the transformative power of pilgrimage. Our team includes experts in history, culture, and spirituality, who have dedicated their lives to studying and experiencing the pilgrimage sites of India.
        <p>Our team is led by Swapnil and includes the following members: Shreya, Ram, Amey, Pradnya, and Vaibhav. Together, we have dedicated our lives to studying and experiencing the pilgrimage sites of India, bringing their spiritual and cultural essence to people around the world.</p>
     
      </p>
    </section>
  </main>
  <footer>
    <p>&copy;  FiredCat. All rights reserved.</p>
  </footer>
</body>
</html>
  
