<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="About.html">About</a></li>
              <li><a href="pilgrimage.html">Pilgrimage Places</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
      </header>
  <main>
    <section class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Get in Touch</h2>
          <p>Feel free to get in touch with us if you have any questions, suggestions or feedback. We would love to hear from you.</p>
          
        </div>
        <div class="col-md-6">
          <h2>Meet Our Team</h2>
          <ul>
            <li><strong>Swapnil (Team Leader)</strong> - <a href="mailto:swapnil@gmail.com">swapnil@gmail.com</a></li>
            <li><strong>Shreya</strong> - <a href="mailto:shreyamohite1606@gmail.com">shreyamohite1606@gmail.com</a></li>
            <li><strong>Ram</strong> - <a href="mailto:jadhavram2601@gmail.com">jadhavram2601@gmail.com</a></li>
            <li><strong>Amey</strong> - <a href="mailto:ameysanjayvanave2001@gmail.com">ameysanjayvanave2001@gmail.com</a></li>
            <li><strong>Pradnya</strong> - <a href="mailto:pradnyasd11@gmail.com">pradnyasd11@gmail.com</a></li>
            <li><strong>Vaibhav</strong> - <a href="mailto:maulikshirsagarvk18@gmail.com">maulikshirsagarvk18@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy;  FiredCat. All rights reserved.</p>
  </footer>
</body>
</html>