<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilgrimmage Places</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="About.html">About</a></li>
              <li><a href="pilgrimage.html">Pilgrimage Places</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
      </header>
  
  <main>
    <section class="hero">
      <h1>Top Pilgrimage Places in India</h1>
      <p>Explore the most popular pilgrimage sites in India, and discover their rich cultural and spiritual heritage.</p>
    </section>

    <section class="info">
      <h2>Varanasi</h2>
      <img src="../Images/Varanasi.jpg" alt="Varanasi">
      <p>Varanasi is one of the oldest and most sacred cities in India, located on the banks of the Ganges river. It is a major pilgrimage site for Hindus, who come here to bathe in the holy river and perform funeral rites. The city is also known for its numerous temples, including the Kashi Vishwanath Temple, one of the most revered Hindu temples in the country.</p>
    </section>

    <section class="info">
      <h2>Tirupati</h2>
      <img src="../Images/Tirupati.jpg" alt="Tirupati">
      <p>Tirupati is a temple town located in the state of Andhra Pradesh, famous for its Sri Venkateswara Temple. The temple is dedicated to Lord Venkateswara, a form of the Hindu god Vishnu, and is one of the most visited pilgrimage sites in the world, attracting millions of devotees every year.</p>
    </section>

    <section class="info">
      <h2>Amritsar</h2>
      <img src="../Images/GoldenTemple.jpg" alt="Amritsar">
      <p>Amritsar is a city in the state of Punjab, known for its Golden Temple, which is the holiest gurdwara (place of worship) for Sikhs. The temple is surrounded by a large man-made lake, and visitors can witness the beautiful and serene sight of the temple's reflection on the water at night.</p>
    </section>
  </main>
  <footer>
    <p>&copy;  FiredCat. All rights reserved.</p>
  </footer>
</body>
</html>